<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Конвертер</title>
   <link rel="stylesheet" href="/static/js/css/style.css">

</head>
<body>
<h2>Конвертер</h2>
<form  method="post" action="/converterHandler">

<p>
<label for="currencyValue">Сумма в рублях: </label>
<input type="number" id="currencyValue" name="currencyValue">
<p>
<label for="toValute">Валюта в которую хотите перевести</label>
<select name="toValute" id="toValute">
<option th:each="currencies : ${currencies}"
                          th:utext="${currencies.name}"/>
</select>
</p>

<p>
<input type="submit" value="Конвертировать">
</p>

</form>


</body>
</html>