<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
</head>
<body>
<h2>Конвертер</h2>
<form method="post" th:action="@{/converterHandler}">
    <p>
        <label for="fromValute">Валюта из которой хотите перевести</label>
        <select name="fromValute" id="fromValute">
            <option>Российский рубль</option>
            <option th:each="currencies : ${currencies}"
                    th:utext="${currencies.name}"/>
        </select>
    </p>
    <p>
        <label for="currencyValue">Сумма: </label>
        <input type="number" id="currencyValue" name="currencyValue">
    <p>
        <label for="toValute">Валюта в которую хотите перевести</label>
        <select name="toValute" id="toValute">
            <option>Российский рубль</option>
            <option th:each="currencies : ${currencies}"
                    th:utext="${currencies.name}"/>
        </select>
    </p>

    <p>
        <input type="submit" value="Конвертировать">
    </p>

</form>


</body>
</html>