<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${error}">Неверный логин или пароль</div>
<div th:if="${logout}">Вы успешно вышли!</div>
<form th:action="@{/login}" method="post">
    <h1>Конвертер валют</h1>
    <div><label>Логин: <input type="text" name="username"/> </label></div>
    <div><label>Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Войти"/></div>
</form>
<a href="/registration">Страница регистрации</a>
</body>
</html>