<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:if="${error}">Данный пользователь уже существует</div>
<form th:action="@{/registration}" method="post">
    <h1>Регистрация</h1>
    <div><label>Логин: <input type="text" name="username"/> </label></div>
    <div><label>Пароль: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Зарегестрироваться"/></div>
</form>
</body>
</html>